* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  padding: 0px 10px;
  margin: 0px auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
.main__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
  margin-top: 20px;
}
.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.main__create-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}
.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  border-radius: 22px;
  border: 1px solid rgba(177, 177, 177, 0.6);
}
.main__create-tittle {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}
.main__sub-btn {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.main__sub-btn::before, .main__sub-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main__sub-btn::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}
.main__tasks-input {
  padding-left: 10px;
  background-color: inherit;
  font-size: 20px;
}
.main__tasks-input::-webkit-input-placeholder {
  color: black;
  opacity: 0.3;
}
.main__tasks-input::-moz-placeholder {
  color: black;
  opacity: 0.3;
}
.main__tasks-input:-ms-input-placeholder {
  color: black;
  opacity: 0.3;
}
.main__tasks-input::-ms-input-placeholder {
  color: black;
  opacity: 0.3;
}
.main__tasks-input::placeholder {
  color: black;
  opacity: 0.3;
}
.main__tittle-block {
  font-size: 28px;
}
.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.main__item {
  position: relative;
  font-size: 22px;
  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(177, 177, 177, 0.6);
  color: #6a6a6a;
}
.main__item:last-child {
  border-bottom: 0px;
}
.main__item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}
.main__item:hover::before {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: " ";
  background-color: rgb(102, 102, 102);
}
.main__item:first-child {
  margin-top: 15px;
}
.main__clear {
  cursor: pointer;
  font-size: 17px;
  position: absolute;
  right: 0;
  bottom: -80px;
  padding: 15px;
}
.main__clear:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ffac1d;
}
.main__set-time {
  padding-top: 5px;
}
.main__buttons {
  margin-top: 40px;
  margin-bottom: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.completed::before {
  content: " ";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: gray;
}

.task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.time-font {
  font-size: 12px;
  padding-top: 4px;
}

.filter-buttons {
  padding: 5px;
  border-radius: 10px;
}
.filter-buttons:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #ffac1d;
}