@import 'zero_style.scss';
body{
      font-family: 'Roboto', sans-serif;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
.container{
    max-width: 1440px;
    padding: 0px 10px;
    margin: 0px auto;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
		&__title {
            text-align: center;
            font-size: 32px;
            margin-bottom: 50px;
            margin-top: 20px;
		}

		&__block {
                  display: flex;
                  flex-direction: column;
                  position: relative;
		}

		&__create-tasks {
                 //border-radius: 3%;
                  //padding: 30px;
                  display: flex;
                  flex-direction: column;
                  //background: #8afffd;
                  margin-bottom: 30px;
		}
        &__form{
            display: flex;
            padding: 15px;
            border-radius: 22px;
            border: 1px solid rgba(177, 177, 177, 0.6);
        }

		&__create-tittle {
                  font-size: 28px;
                  margin-bottom: 20px;
                  font-weight: bold;
		}

		&__sub-btn {
                  //padding: 10px;
                  position: relative;
                  width: 25px;
                  height: 25px;
                  background-color: #ccc;
                  border: none;
                  border-radius: 50%;
                  cursor: pointer;
                  &::before,
                  &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 60%;
                        height: 1px;
                        background-color: #fff;
                        transform: translate(-50%, -50%);
                  }

                  &::before {
                        transform: translate(-50%, -50%) rotate(90deg);
                  }
		}

		&__tasks-input {
                  padding-left: 10px;
                  background-color: inherit;
                  font-size: 20px;
                  &::placeholder{
                        color: black;
                        opacity: 0.3;
                  }
		}

		&__tasks {
                  //border-radius: 3%;
                  //padding: 50px;
                  //background: #8afffd;
		}

		&__tittle-block {
                  font-size: 28px;
		}

		&__list {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
		}

		&__item {
                  position: relative;
                  font-size: 22px;
                  cursor: pointer;
                  padding-left: 32px;
                  padding-bottom: 20px;
                  border-bottom: 1px solid rgba(177, 177, 177, 0.6);
                  color: #6a6a6a;
                  &:last-child{
                        border-bottom: 0px;
                  }
                  &::before{
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #000;
                        border-radius: 50%;
                        
                  }
                  &:hover::before{
                        transition: all 0.3s ease 0s;
                        content: " ";
                        background-color: rgb(102, 102, 102);
                  }
                  //&:active{
                  //      text-decoration: line-through;
                  //}
                  &:first-child{
                        margin-top: 15px;
                  }
                  
		}
            &__clear{
                  cursor: pointer;
                  font-size: 17px;
                  position: absolute;
                  right: 0;
                  bottom: -80px;
                  padding: 15px;
                  &:hover{
                        transition: all 0.3s ease 0s;
                        color: #ffac1d;
                  }
            }
            &__set-time{
                  padding-top: 5px;
            }
            &__buttons{
                  margin-top: 40px;
                  margin-bottom: -20px;
                  display: flex;
                  gap: 10px;
                  justify-content: center;
            }
}
.completed{
      &::before{
            content: " ";
            transition: all 0.3s ease 0s;
            background-color: gray;
      }
      
}
.task-container{
      display: flex;
      flex-direction: column;
}
.time-font{
      font-size: 12px;
      padding-top: 4px;
}
.filter-buttons{
      padding: 5px;
      border-radius: 10px;
      &:hover{
            transition: all 0.3s ease 0s;
            background: #ffac1d;
      }
}